body {
    background: #f0f2f5;
}

/*顶部导航栏*/
.titleBar {
    background: white;
    width: 100%;
    height: 0.44rem;
    position: fixed;
    left: 0rem;
    top: 0rem;
    z-index: 10;
    border-bottom: 0.01rem solid silver;
}

.titleBar a {
    height: 0.44rem;
    width: 0.44rem;
    display: block;
    float: left;
}

.titleBar a img {
    height: 0.3rem;
    width: 0.3rem;
    display: block;
    margin: 0.07rem auto;
}

.titleBar span {
    font-size: 0.2rem;
    width: 2.1rem;
    height: 0.3rem;
    display: block;
    float: left;
    text-align: center;
    line-height: 0.3rem;
    margin: 0.05rem auto;
    padding-left: 0.1rem;
}

.titleBar .menu {
    height: 0.44rem;
    width: 0.44rem;
    display: block;
    float: right;
}

.titleBar .menu img {
    height: 0.3rem;
    width: 0.3rem;
    display: block;
    margin: 0.07rem auto;
}

/*头部更多菜单*/
.more_fl {
    background: black;
    height: 0.6rem;
    width: 100%;
    margin-top: 0.44rem;
    display: none;
}

.more_fl-show {
    display: block;
}

.more_fl ul li {
    float: left;
    height: 0.6rem;
    width: 25%;
}

.more_fl ul li a {
    display: block;
    height: 0.6rem;
    width: 100%;
}

.more_fl ul li a img {
    display: block;
    height: 0.3rem;
    width: 0.3rem;
    margin: 0.05rem auto;
}

.more_fl ul li a p {
    display: block;
    height: 0.3rem;
    width: 100%;
    font-size: 0.1rem;
    text-align: center;
    line-height: 0.1rem;
    color: white;
}

/*购物车商品列表*/
.goodsList {
    margin-top: 0.44rem;
    width: 100%;
}
.clz-nomrtop{
    margin-top: 0;
}
.goodsList ul .store {
    width: 100%;
    height: 0.4rem;
    background: white;
}

.goodsList ul .store input {
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}

.goodsList ul .store img {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    display: block;
}

.goodsList ul .store .storeName {
    float: left;
    width: 1rem;
    height: 0.4rem;
    display: block;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.4rem;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.goodsList ul .store .other {
    float: right;
    width: 0.6rem;
    height: 0.4rem;
    display: block;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.4rem;
    text-overflow: ellipsis;
}

/*店铺内的商品列表详情*/
.goodsList ul .storeGoods {

}

/*左边checkbox*/
.goodsList ul .storeGoods .goodsDetailLeft {
    height: 1.4rem;
    width: 0.4rem;
    float: left;
    background: white;
}

.goodsList ul .storeGoods .goodsDetailLeft input[type="checkbox"] {
    height: 0.2rem;
    width: 0.2rem;
    margin-left: 0.1rem;
    display: block;
    margin-top: 0.6rem;
    background-image: url("../images/icon_checked.png");
}

.goodsList ul .storeGoods .goodsDetailLeft input[type="checkbox"]:checked {
    background-image: url("../images/icon_checkno.png");
}

/*右边详情*/
.goodsList ul .storeGoods .goodsDetail {
    float: left;
    height: 1.4rem;
    width: 2.8rem;
    background: white;
}

.goodsList ul .storeGoods .goodsDetail img {
    width: 1rem;
    height: 1rem;
    display: block;
    float: left;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo {
    float: left;
    width: 1.8rem;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo a {
    width: 1.8rem;
    height: 0.4rem;
    display: block;
    font-size: 0.15rem;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;

}

.goodsList ul .storeGoods .goodsDetail .goodsInfo .pro1 {
    width: 1.8rem;
    height: 0.2rem;
    display: block;
    float: left;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo .pro1 span {
    width: 0.9rem;
    height: 0.2rem;
    display: block;
    float: left;
    font-size: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    width: 1.8rem;
    height: 0.2rem;
    display: block;
    font-size: 0.1rem;
    clear: both;
    color: red;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo .pro2 {
    width: 1.8rem;
    height: 0.2rem;
    display: block;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo .pro2 span {
    width: 0.9rem;
    height: 0.2rem;
    display: block;
    float: left;
    font-size: 0.1rem;
    line-height: 0.2rem;
}

.goodsList ul .storeGoods .goodsDetail .goodsInfo .pro2 .edit {
    width: 0.4rem;
    height: 0.2rem;
    display: block;
    float: right;
    line-height: 0.2rem;
    text-align: center;
}

/*其他信息*/
.goodsOther {
    height: 0.4rem;
    width: 2.8rem;
    clear: both;
    font-size: 0.14rem;
    line-height: 0.4rem;
}

/*底部的部分*/
.botm {
    width: 100%;
    height: 0.4rem;
    position: fixed;
    bottom: 0rem;
    font-size: 0.1rem;
    background: white;
}

.botm input[type="checkbox"] {
    height: 0.2rem;
    width: 0.2rem;
    display: block;
    float: left;
    margin-top: 0.1rem;
}

.botm > div {
    height: 0.4rem;
    width: 2rem;
    float: left;
}

.botm > div span {
    height: 0.2rem;
    width: 2rem;
    display: block;
    line-height: 0.2rem;
}

.botm span {
    height: 0.4rem;
    width: 0.4rem;
    display: block;
    float: left;
    line-height: 0.4rem;
}

.botm a {
    height: 0.4rem;
    width: 0.5rem;
    display: block;
    background: red;
    float: right;
    text-align: center;
    line-height: 0.4rem;
}