body {
    background: #f3f5f7;
}

/*顶部导航栏*/
.titleBar {
    background: white;
    width: 100%;
    height: 0.44rem;
    position: fixed;
    left: 0rem;
    top: 0rem;
    z-index: 10;
    border-bottom: 0.01rem solid silver;
}

.titleBar a {
    height: 0.44rem;
    width: 0.44rem;
    display: block;
    float: left;
}

.titleBar a img {
    height: 0.3rem;
    width: 0.3rem;
    display: block;
    margin: 0.07rem auto;
}

.titleBar input {
    width: 2.1rem;
    height: 0.3rem;
    display: block;
    float: left;
    border: 0.01rem solid gray;
    margin: 0.05rem auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-left: 0.1rem;
}

.titleBar .menu {
    height: 0.44rem;
    width: 0.44rem;
    display: block;
    float: right;
}

.titleBar .menu img {
    height: 0.3rem;
    width: 0.3rem;
    display: block;
    margin: 0.07rem auto;
}

/*商品分类和对应的分类*/
.clz {
    margin-top: 0.44rem;
    width: 100%;
    height: 100%;
}

.clz-nomrtop{
    margin-top: 0;
}

/*分类最外层*/
.clzName {
    border-right: 0.01rem solid gainsboro;
    background: white;
    width: 0.8rem;
    float: left;
    height: 5.4rem;
    overflow: hidden;
    background-color: rebeccapurple;
}

/*分类里层列表*/
.clzName ul {
    height: 100%;
    width: 0.9rem;
    overflow-y: scroll;

}

.clzName ul li {
    background: white;
    font-size: 0.01rem;
    width: 0.8rem;
    height: 0.4rem;
    border-bottom: 0.01rem solid lightgray;
    text-align: center;
    line-height: 0.4rem;
}

/*分类对应的详情*/
.clzDetail_wrap {
    float: right;
    width: 2.3rem;
    height: 5.4rem;
    overflow: hidden;
}

.clzDetail_wrap ul {
    height: 100%;
    width: 2.4rem;
    overflow-y: scroll;

}

.clzDetail_wrap > ul > li {
    background: white;
    font-size: 0.01rem;
    width: 2.3rem;
    border-bottom: 0.01rem solid lightgray;
    line-height: 0.4rem;
}

/*分类详情*/
/*头部图片*/
.fenlei_title img {
    margin-top: 0.01rem;
    width: 2.3rem;
    height: 0.8rem;
    display: block;
}

/*热门选购商品列表*/
.hotGood {
    width: 2.3rem;
}

.hotGood li {
    width: 0.7rem;
    height: 1rem;
    margin-right: 0.06rem;
    float: left;
}

.hotGood li a {
    display: block;
    width: 0.7rem;
    height: 1rem;
}

.hotGood li a img {
    display: block;
    width: 0.5rem;
    height: 0.7rem;
    margin-left: 0.1rem;
}

.hotGood li a p {
    text-align: center;
    display: block;
    width: 0.7rem;
    height: 0.3rem;
}

/*头部更多菜单*/
.more_fl {
    background: black;
    height: 0.6rem;
    width: 100%;
    margin-top: 0.44rem;
    display: none;
}

.more_fl-show {
    display: block;
}

.more_fl ul li {
    float: left;
    height: 0.6rem;
    width: 25%;
}

.more_fl ul li a {
    display: block;
    height: 0.6rem;
    width: 100%;
}

.more_fl ul li a img {
    display: block;
    height: 0.3rem;
    width: 0.3rem;
    margin: 0.05rem auto;
}

.more_fl ul li a p {
    display: block;
    height: 0.3rem;
    width: 100%;
    font-size: 0.1rem;
    text-align: center;
    line-height: 0.1rem;
    color: white;
}




