/*轮播和顶部导航*/
.adimg {
    width: 100%;
    height: 1.77rem;
}

/*轮播图片*/
.imgshow {
    width: 100%;
    height: 1.77rem;
}

.imgshow img {
    width: 100%;
    height: 1.77rem;
}

.titleBar {
    width: 100%;
    height: 0.44rem;
    position: fixed;
    left: 0rem;
    top: 0rem;
    z-index: 10;
}

/*logo部分*/
.logo {
    float: left;
    display: block;
    width: 0.6rem;
    height: 0.44rem;
}

.logo img {
    margin-left: 0.1rem;
    display: block;
    width: 0.5rem;
    height: 0.44rem;
}

/*搜索部分*/
.search {
    float: left;
    width: 2.1rem;
    height: 0.44rem;
}

.search input {
    margin-left: 0.1rem;
    margin-top: 0.08rem;
    border-radius: 0.1rem 0.1rem;
    float: left;
    width: 2rem;
    height: 0.22rem;
}

/*登陆按钮*/
.login {
    margin-right: 0.05rem;
    color: white;
    line-height: 0.44rem;
    text-align: center;
    float: right;
    font-size: 0.16rem;
    height: 0.44rem;
    width: 0.4rem;
}

/*8个菜单导航项*/
.mainnav {
    width: 100%;
    height: 1.6rem;
}

.mainnav li {
    width: 0.8rem;
    height: 0.8rem;
    float: left;
}

.mainnav li img {
    margin: 0 auto;
    margin-top: 0.1rem;
    display: block;
    background: chartreuse;
    width: 0.6rem;
    height: 0.6rem;
}

/*秒杀商品*/
.seckill_title {
    width: 100%;
    height: 0.4rem;
    background: white;
}

.seckill_title img {
    margin: 0.1rem 0.01rem;
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    float: left;
}

.seckill_title p {
    font-size: 0.2rem;
    width: 0.9rem;
    float: left;
    height: 0.4rem;
    line-height: 0.4rem;
}

/*秒杀时间*/
.seckill_title ul {
    height: 0.4rem;
    width: 1rem;
    float: left;
}

.seckill_title ul li {
    height: 0.4rem;
    width: 0.2rem;
    font-size: 0.1rem;
    float: left;
    text-align: center;
    line-height: 0.4rem;
}

.seckill_title_more {
    height: 0.4rem;
    width: 1rem;
    float: right;
}

.seckill_title_more span {
    line-height: 0.4rem;
    font-size: 0.15rem;
    display: block;
    height: 0.4rem;
    width: 0.7rem;
    float: right;
}

.seckill_title_more img {
    float: right;
    line-height: 0.4rem;
    font-size: 0.15rem;
    display: block;
    height: 0.2rem;
    width: 0.2rem;
}

/*秒杀的商品列表*/
.seckill_content {
    height: 1.4rem;
    width: 100%;
}

.seckill_content ul {
    height: 1.4rem;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}

/*
横向滚动不换行
不使用: /*float: left;*/
/*display: inline;
直接使用:display: inline-block;
*/
.seckill_content ul li {
    height: 1.4rem;
    width: 1rem;
    margin-left: -0.22rem;
    /*float: left;*/
    /*display: inline;*/
    font-size: 0.1rem;
    display: inline-block;
}

.seckill_content ul li img {
    height: 1rem;
    width: 1rem;
}

.seckill_content ul li span {
    line-height: 0.2rem;
    text-align: center;
    display: block;
    height: 0.2rem;
    width: 100%;

}

.seckill_content ul li .oriPrice {
    text-decoration: line-through;
}

/*排行榜和闪购*/
.sortMillis {
    width: 100%;
    height: 1rem;
}

.sortList {
    width: 50%;
    height: 1rem;
    float: left;
}

.sortList ul {
    width: 0.8rem;
    height: 1rem;
    float: left;
}

.sortList ul li {
    margin-top: 0.01rem;
    font-size: 0.1rem;
}

.sortList ul .li1 {
    font-size: 0.2rem;
    font-family: "Bernard MT Condensed";
    color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

.sortList ul .li2 {
    font-size: 0.1rem;
    color: olive;
    margin-top: 0.1rem;
    margin-left: 0.05rem;
}

.sortList ul .li3 {
    font-size: 0.1rem;
    color: red;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

.sortList img {
    margin-top: 0.1rem;
    float: left;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
}

/*爱生活部分*/
.aiLiftTittle {
    height: 0.4rem;
    width: 100%;
}

.aiLiftTittle img {
    height: 0.3rem;
    width: 0.6rem;
    display: block;
    margin: 0px auto;
    padding-top: 0.1rem;
}

.sortList2 {
    width: 25%;
    height: 1.2rem;
    float: left;
}

.sortList2 ul {
    width: 100%;
    height: 0.6rem;
}

.sortList2 ul li {
    width: 100%;
    margin-top: 0.01rem;
    font-size: 0.1rem;
}

.sortList2 ul .li1 {
    font-size: 0.1rem;
    font-family: "Bernard MT Condensed";
    color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

.sortList2 ul .li2 {
    font-size: 0.1rem;
    color: olive;
    margin-top: 0.1rem;
    margin-left: 0.05rem;
}

.sortList2 ul .li3 {
    font-size: 0.1rem;
    color: red;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

.sortList2 img {
    margin-top: 0.1rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
}

/*爱生活轮训滚动条*/
.liftad {
    margin-top: 0.1rem;
    height: 1rem;
    width: 100%;
    clear: both;
}

.liftad img {
    height: 0.8rem;
    width: 100%;
}

/*商品列表*/
.gdList {
    clear: both;
}

.gdList ul {
    width: 100%;
}

.gdList ul li {
    height: 2rem;
    width: 50%;
    float: left;
}

.gdList ul li a {
    display: block;
    height: 2rem;
    width: 100%;
    text-decoration: none;
}

.gdList ul li img {
    display: block;
    width: 100%;
    height: 1.4rem;
}

.gdList ul li p {
    font-size: 0.1rem;
    width: 100%;
    height: 0.3rem;
    overflow: visible;
    text-align: center;
}

.gdList ul li .price {
    line-height: 0.3rem;
}

/*点击加载更多*/
.loadMore {
    clear: both;
    width: 100%;
    height: 0.3rem;
    border-top: 0.01rem solid silver;
    border-bottom: 0.01rem solid silver;
}

.loadMore a {
    margin: 0rem auto;
    width: 1.5rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    display: block;
    font-size: 0.2rem;
    text-decoration: none;
    color: #5e5e5e;
}