.adBar {
    width: 100%;
    height: 50px;
}

/*导航栏*/
.navBar {
    width: 1080px;
    height: 60px;
    margin: 0 auto;
    background-color: #9d9d9d;
}

/*导航栏的主菜单*/
.navBar .mainMenu {
    width: 1080px;
    height: 60px;
}

.navBar .mainMenu > li {
    width: 108px;
    height: 60px;
    float: left;
}

.navBar .mainMenu > li p {
    width: 108px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

/*导航栏的主菜单下的子菜单*/
.subMenu {
    background-color: burlywood;
    height: 0px;
    width: 108px;
    z-index: 5;
    display: none;
    overflow: hidden;
}

/*子菜单下拉动画*/
.subMenuAnim {
    display: block;
    animation: myheight 1s infinite;
    /*动画播放的次数*/
    animation-iteration-count: 1;
    /*播放完成后停止在动画播放完成的地方*/
    animation-fill-mode: forwards;
}

.subMenu li {
    height: 0px;
    width: 108px;
    text-align: center;
    line-height: 50px;
}
/*子菜单li的动画*/
.subMenuLiAnim {
    display: block;
    animation: mysubheight 1s infinite;
    /*动画播放的次数*/
    animation-iteration-count: 1;
    /*播放完成后停止在动画播放完成的地方*/
    animation-fill-mode: forwards;
}
/*主体内容*/
.content{
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    background: #b2dba1;
}
@keyframes mysubheight {
    from {
        height: 0px;
    }
    to {
        height: 50px;
    }
}

/*动画定义*/
/*动画改变元素的高度*/
@keyframes myheight {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}