.mainAD{
    width: 1080px;
    height: 200px;
    background-color: #f2dede;
    margin: 0 auto;
    overflow: scroll;
}
.mainAD>ul{
    width: 3270px;
    height: 200px;
    white-space: nowrap;
    overflow-x: scroll;
}
.mainAD>ul li{
    width: 1080px;
    height: 200px;
    float: left;
    margin-left: 10px;
    background-color: #3e8f3e;
}