.list {
    width: 100%;
    margin-top: -60px;
    height: 600px;
    background-color: #9acfea;
}

.header {
    width: 100%;
    height: 60px;
}

.content {
    width: 100%;
    height: 180px;
    background-color: #9d9d9d;
}