.column li {
    float: left;
    margin-left: 3px;
    margin-top: 8px;
    text-align: center;
}

.column li div {
    width: 154px;
    border: solid 1px;
}

.imgTitle {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*分页导航*/
.page-nav-container{
    clear: both;
    background: lavender;
    width: 100%;
    height: 50px;;
}
.page-nav{
    width: 600px;
    height: 30px;
    margin:auto auto;
    line-height: 50px;
}



