<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>丝袜美腿</title>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--图片行-->
<ul class="column">
    <!--一行中的列-->
    <li class="imgListStyle" ng-repeat="imgInfo in mycss.imgInfos">
        <a href="#">
            <div>
                <img src={{"http://tnfs.tngou.net/img"+imgInfo.img}} width="154px" height="154px">
                <p class="imgTitle">{{imgInfo.title}}</p>
            </div>
        </a>
    </li>
</ul>
<!--分页导航-->
<div class="page-nav-container">
    <div class="page-nav">
        <button ng-click="mycss.prePage()">上一页</button>
        <span>当前页</span>
        <input type="number" ng-model="mycss.currentPage">
        <button ng-click="mycss.skipPage()">跳转</button>
        <span>总页数</span>
        <span>{{mycss.totalPage}}</span>
        <button ng-click="mycss.nextPage()">下一页</button>
    </div>
</div>
</body>
</html>